<%- include('partials/header.ejs') %>
    

    <h1>This is the INDEX page here!!</h1>
    <% blogs.forEach(function(blog) { %>
        <p><%= blog.title %></p>
        <p><%= blog.content %></p>
        <img src="<%= blog.image %>">
        <p><%= blog.date %></p>
    <% }) %>


<%- include('partials/footer.ejs') %>
